/* Stylesheet for fylo 2-col project */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Set color variables */
  --very-dark-blue: hsl(243deg 87% 12%);
  --desaturated-blue: hsl(238deg 22% 44%);
  --bright-blue: hsl(224deg 93% 58%);
  --moderate-cyan: hsl(170deg 45% 43%);
  --light-gray: hsl(0deg 0% 75%);
  --light-grayish-blue: hsl(240deg 75% 98%);

  /* Set dimension variables */
  --desktop-width: 1440px;
  --mobile-width: 375px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  padding-block: 40px;
}

header,
section,
footer {
  padding: 30px;
}

main {
  line-height: 1.8rem;
}

/* Style form */

form {
  margin: 50px auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form > * {
  padding-block: 12px;
  border-radius: 5px;
  font: inherit;
}

form input {
  padding-inline-start: 30px;
  color: var(--light-gray);
  border: 2px solid var(--very-dark-blue);
}

form button {
  border: none;
  background-color: var(--bright-blue);
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.blurb {
  font-size: 1.3rem;
}

.share .blurb {
  padding-block: 20px;
}

header {
  display: flex;
}

header .logo {
  height: 60%;
}

header nav {
  margin-inline-start: auto;
  padding-block-start: 6px;
}

header nav ul {
  display: flex;
  gap: 30px;
}

h2,
.top-menu a {
  font-family: Raleway, sans-serif;
}

.info,
.call,
.share h2 {
  text-align: center;
}

.info h2 {
  /* Change font-family */
  font-size: 2.5rem;
  line-height: 3rem;
}

.info form {
  font-size: 1.3rem;
}

.illustration img {
  max-width: 100%;
}

.info,
.share h2,
.testimonial {
  color: var(--very-dark-blue);
}

.share {
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-blue);
}

/* .share .illustration::before {
  content: url("./images/bg-curve-mobile.svg");
} */

.share p:nth-child(5) {
  text-align: center;
}

.blurb a {
  color: var(--moderate-cyan);
  border-bottom: 2px solid var(--moderate-cyan);
  padding-block-end: 8px;
}

.blurb a::after {
  /* make larger */
  content: url("./images/icon-arrow.svg");
  margin-inline-start: 10px;
}

/* Style testimonial card */

.testimonial {
  background-color: white;
  /* Change box-shadow */
  box-shadow: 0 3px 15px var(--light-gray);
  border-radius: 8px;
  padding: 30px;
  margin: 30px auto;
  max-width: 500px;
}

.testimonial blockquote::before {
  /* make larger */
  content: url("./images/icon-quotes.svg");
}

.kyle {
  display: grid;
  line-height: initial;
  height: 50px;
  grid-template-areas:
    "image name"
    "image title";
  grid-template-columns: 40px 1fr;
  align-items: center;
  column-gap: 15px;
  row-gap: 5px;
}

.kyle img {
  border-radius: 50%;
  max-height: 75%;
  grid-area: image;
}

.kyle-name {
  grid-area: name;
  align-self: end;
}

.kyle-name cite {
  font-style: normal;
  font-weight: bold;
}

.kyle-title {
  grid-area: title;
  align-self: start;
  font-size: x-small;
}

.call {
  background-color: var(--desaturated-blue);
  color: var(--light-grayish-blue);
}

/* Style footer */

footer {
  background-color: var(--very-dark-blue);
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  line-height: 2.5rem;
}

.bottom-menu li {
  padding-block-start: 10px;
}

footer .logo {
  /* Hat tip - https://stackoverflow.com/a/53336754 */
  filter: brightness(0) saturate(100%) invert(100%) sepia(91%) hue-rotate(191deg) contrast(101%);
  padding-block-start: 40px;
  height: 130%
}

.contact-info {
  font-style: normal;
  line-height: 3rem;
}

.phone::before {
  content: url("./images/icon-phone.svg");
  margin-inline-end: 20px;
}

.email::before {
  content: url("./images/icon-email.svg");
  margin-inline-end: 20px;
}
