/* Stylesheet for fylo 2-col project */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Set color variables */
  --very-dark-blue: hsl(243deg 87% 12%);
  --desaturated-blue: hsl(238deg 22% 44%);
  --bright-blue: hsl(224deg 93% 58%);
  --moderate-cyan: hsl(170deg 45% 43%);
  --light-gray: hsl(0deg 0% 75%);
  --light-grayish-blue: hsl(240deg 75% 98%);

  /* Set dimension variables */
  --desktop-width: 1440px;
  --mobile-width: 375px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--desaturated-blue);
}

h2 {
  padding-block: 40px;
}

header,
section,
footer {
  padding: 30px;
}

main {
  line-height: 1.8rem;
}

/* Style form */

form {
  margin: 50px auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > * {
  padding-block: 12px;
  border-radius: 5px;
  font: inherit;
}

form input {
  padding-inline-start: 30px;
  color: var(--light-gray);
  border: 2px solid var(--very-dark-blue);
}

form input:focus {
  color: initial;
}

form input:invalid {
  border: 1px solid palevioletred;
}

input:invalid + .placeholder::before {
  display: block;
  content: "Please check your email";
  text-align: left;
  font-size: small;
  margin-top: -25px;
}

.info .placeholder {
  color: palevioletred;
}

form button {
  border: none;
  background-color: var(--bright-blue);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

form button:hover {
  /* SRC: https://stackoverflow.com/q/16178382 */
  /* box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.1) inset; */
  filter: brightness(140%); /* preferred to above because want to have a "normal" box shadow on button */
}

.blurb {
  font-size: 1.3rem;
}

.share .blurb {
  padding-block: 20px;
}

header {
  display: flex;
}

header .logo {
  height: 60%;
}

header nav {
  margin-inline-start: auto;
  padding-block-start: 6px;
}

header nav ul {
  display: flex;
  gap: 30px;
}

h2,
.top-menu a {
  font-family: Raleway, sans-serif;
}

.info,
.call,
.share h2 {
  text-align: center;
}

.info h2 {
  /* Change font-family */
  font-size: 2.5rem;
  line-height: 3rem;
}

.info form {
  font-size: 1.3rem;
}

.illustration img {
  max-width: 100%;
}

.info,
.share h2,
.testimonial {
  color: var(--very-dark-blue);
}

.share {
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-blue);
}

.share .illustration::before {
  display: block;
  content: url("./images/bg-curve-mobile.svg");
  margin-block-start: -83px;
  text-align: center;
}

.share p:nth-child(5) {
  text-align: center;
}

.blurb a {
  color: var(--moderate-cyan);
  border-bottom: 2px solid var(--moderate-cyan);
  padding-block-end: 8px;
}

.blurb a:hover {
  filter: brightness(140%);
}

.blurb a::after {
  display: inline-block;
  width: 35px; 
  height: 30px;
  content: "";
  background-image: url("./images/icon-arrow.svg");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
/*   margin-inline-start: 10px; */
}

/* Style testimonial card */

.testimonial {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 30px;
  margin: 30px auto;
  max-width: 500px;
}

.testimonial blockquote::before {
  /* make larger */
  content: url("./images/icon-quotes.svg");
}

.kyle {
  display: grid;
  line-height: initial;
  height: 50px;
  grid-template-areas:
    "image name"
    "image title";
  grid-template-columns: 40px 1fr;
  align-items: center;
  column-gap: 15px;
  row-gap: 5px;
}

.kyle img {
  border-radius: 50%;
  max-height: 75%;
  grid-area: image;
}

.kyle-name {
  grid-area: name;
  align-self: end;
}

.kyle-name cite {
  font-style: normal;
  font-weight: bold;
}

.kyle-title {
  grid-area: title;
  align-self: start;
  font-size: x-small;
}

.call {
  background-color: var(--desaturated-blue);
  color: var(--light-grayish-blue);
}

/* Style footer */

footer {
  background-color: var(--very-dark-blue);
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  line-height: 2.5rem;
}

.bottom-menu li {
  padding-block-start: 10px;
}

footer .logo {
  /* Hat tip - https://stackoverflow.com/a/53336754 */
  filter: brightness(0) saturate(100%) invert(100%) sepia(91%) hue-rotate(191deg) contrast(101%);
  padding-block-start: 40px;
  height: 130%;
}

.contact-info {
  font-style: normal;
  line-height: 3rem;
}

.phone::before {
  content: url("./images/icon-phone.svg");
  margin-inline-end: 20px;
}

.email::before {
  content: url("./images/icon-email.svg");
  margin-inline-end: 20px;
}

.social ul {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.fab {
  border: 1px solid white;
  padding: 10px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
}

.fab:hover {
  color: var(--bright-blue);
  border-color: var(--bright-blue);
}
