/* Stylesheet for fylo 2-col project */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Set color variables */
  --very-dark-blue: hsl(243deg 87% 12%);
  --desaturated-blue: hsl(238deg 22% 44%);
  --bright-blue: hsl(224deg 93% 58%);
  --moderate-cyan: hsl(170deg 45% 43%);
  --light-gray: hsl(0deg 0% 75%);
  --light-grayish-blue: hsl(240deg 75% 98%);

  /* Set dimension variables */
  --desktop-width: 1440px;
  --mobile-width: 375px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h2,
.top-menu a {
  font-family: Raleway, sans-serif;
}

.info,
.call,
.share h2,
.share a {
  text-align: center;
}

.info,
.share {
  color: var(--very-dark-blue);
}

.share {
  background-color: var(--light-grayish-blue);
}

.call {
  background-color: var(--desaturated-blue);
  color: var(--light-grayish-blue)
}

footer {
  background-color: var(--very-dark-blue);
  color: white;
}

footer .logo {
  /* Only works for text in the SVG. SRC https://stackoverflow.com/a/53336754    */
  filter: invert(100%) sepia(91%) saturate(0%) hue-rotate(191deg) brightness(109%) contrast(101%);
}